h1 {
    color: rgb(232, 54, 54);
    font-size: 50px;
    text-align: center;
    margin-left: 0%;
}

body {
    width: 70%;
    margin: auto;
    background-color: rgb(196, 176, 176);
}

main {
    border: 1px;
    padding: 1rem;
}

ul {
    list-style: disc inside;
}

ol {
    list-style: disc inside;
}

p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

img {
    border: solid; color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

nav {
    font-size: 2.5rem;
}

a {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30%;
    padding-right: 0%;
}

#bio {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
} 

#countries {
    color: darkgreen;
}

#sport {
    color: darkgreen;
    margin-left: 5%;
}

#marvel {
    color: darkgreen;
    margin-left: 5%;
}

#tv {
    color: darkgreen;
    margin-left: 5%;
    width: 20%;
}

#countries, #sport, #marvel, #tv {
    float: left; margin: 3.5%;
}

#edu {
    margin-top: 30%;
    margin-bottom: 5%;
    color: blue;
}

#work {
    color: blue;
}

footer {
    text-align: center;
}